body{
  background-color: #012634;
  font-family: fantasy;
}

h1 {
  text-align: center;
  color: grey;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

p {
  color: grey;
  text-align: center;
}

.bilde{
  width: 200px;
  border-radius: 50%;
  border-color: grey;
  border-width: 4px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.overskrift{
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.forfatter{
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
.sitat {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
